<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Add new hero</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="addHeroForm" (submit)="addHero()">
        <div class="form-group">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <label for="alterEgo" class="form-label">Alter Ego</label>
          <input
            type="text"
            class="form-control"
            id="alterEgo"
            placeholder="Alter Ego"
            formControlName="alterEgo"
          />
        </div>
        <div class="form-group">
          <label for="power" class="form-label">Hero Power</label>
          <select
            class="form-control"
            id="power"
            required
            formControlName="power"
            placeholder="Power"
          >
            <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
